.main {
  text-align: center;
}

.insertar {
  flex-direction: row;
  width: 100%;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 467px) {
  .section {
    padding-top: 30px;
  }
  .h1Invitados {
    padding-bottom: 30px;
  }
}

@media (min-width: 468px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
